* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: rgb(0, 119, 255);
  font-weight: bold;

}

#pills-tab:hover {
  background-color: lightgrey;
}

/* .nav-link:hover {
  opacity: .3;

} */

/* img:hover {
  opacity: .3;
  max-height: 100%;
  max-width: 100%;
} */

body {
  /* background-color: rgb(0, 0, 0); */
  background-image: url("../images/starry-2.jpg");
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font: 18px;
}

.container {
  margin-right: 180px;
}

#scrollable {
  overflow: scroll;
  height: 200px;
  /* height: 100%; */
}


button.submit {
  float: left;
  width: 100%;
}

#battleButton {
  border: black;
}

form#cms {
  margin: 0px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.card-header button.edit {
  background-color: grey;
}

.card {
  background-color: black;
  color: black;
}

.card-body {
  background-color: white;
}

.card-header {
  background-color: lightgrey;
  font-weight: bold;
  font-size: 28px;
  color: black;
}



/* .blog-card-header .newsfeed-card-header{
  background-color: lightslategray;
  color: black;
  text-align: center;
  margin-top: 20px;
} */

.chatbox-card-header {
  background-color: lightgrey;
  /* background-color: white; */
}

/* #leftside {
  width: 300px;
} */

/* .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

.blog-container {
  display: flex;
  flex-direction: column-reverse;
  color: rgb(0, 200, 0);
  padding: 23px;
  /* width: 100%;
  background: white; */
}

.newsfeed-container {
  display: flex;
  flex-direction: column-reverse;
  color: rgb(93, 0, 200);
  padding: 20px;
  background-color: black;
  /* width: 100%;
  background: white; */
}

.character-container {
  display: flex;
  flex-direction: column-reverse;
}

form {
  background: black;
  color: white;
  padding: 3px;
  position: relative;
  bottom: 0;
  width: 100%;
  border: black;
}

form input {
  border: 0;
  padding: 10px;
  margin: 0;
  width: 100%;

}

form button {
  background: rgb(0, 119, 255);
  color: white;
  font-weight: bold;
  border: black;
  font-size: 24px;
  margin: 0px;
  padding: 20px;
  width: 33%;
  height: 100%;
}

form button:hover {
  opacity: .5;
}

.chatbox {
  width: 100%;
  background-color: gray;
  color: white;
  padding: 20px;
  border: black;
}

#input {
  position: fixed bottom;
  padding: 5px 10px;
  margin: 0 px;
  width: 100%;
}

#messages {
  list-style-type: none;
  position: fixed bottom;
  margin: 0px;
  padding: 0px;
}

#messages li {
  padding: 5px 10px;
  background: grey;
}

#messages li:nth-child(odd) {
  padding: 5px 10px;
  background: lightgray;
}

footer {
  text-align: center;
  text-align: bottom;
  position: relative;
  color: rgb(0, 119, 255);
  font-weight: bold;
}

/* #messages {
  width: 50%;
  margin-bottom: 40px;
  
} */